@media only screen and (max-width: 650px)
{
.lead{
font-size: 12px;
}
.heading{
    font-size: 18px;
}
.heading3{
    font-size: 16px;
}
.counting span{
    font-size: 8px;
}
.quotebutton input{
    width: 200px !important;
    margin-bottom: 10px;

}
.quotebutton button{
    width: 120px;
    position: static !important;
}
.card-text{
    font-size: 12px;
}
.lead p{
    font-size: 12px !important;
}
}
@media only screen and (max-width: 990px){
    img{
        width: 100%;
    }
}