@media only screen and (max-width: 990px){
    img{
        width: 100%;
    }
}
@media only screen and (max-width: 650px){
.lead{
font-size: 12px !important;
}
.heading{
    font-size: 18px;
}
.heading3{
    font-size: 18px;
}
.counting span{
    font-size: 8px;
}
.quotebutton input{
    width: 200px !important;
    margin-bottom: 10px;

}
.quotebutton button{
    width: 120px;
    height: 38px;
    position: static !important;
    border-radius: 2px !important;
    font-size: 12px;
}
.emailbtn{
    border-radius: 2px !important;
    width: 100%;
    font-size: 12px;
    height: 38px;
}
.card-text{
    font-size: 12px;
}
.lead p{
    font-size: 12px !important;
}
.feature p{
    font-size: 12px !important;
}
.feature h3{
    font-size: 18px !important;
    font-weight: bold;
}
svg{
    width: 20px;
    height: 20px;
}
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}