@font-face {
    font-family: Signika-Regular;
    src: url(./asset/Signika-Regular.ttf);
}
<style>
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
</style>
/* I tried to make exact copy of what was provided as assignment but additionally used all css properties learned in the class */
/* three ways of getting the font are included */
*{
    padding: 0%;
    margin: 0%;
    background-color:blanchedalmond;
}
.navbar {
    text-align: right;
    margin-left: 150px;
    font-family: sans-serif;
    font-size: x-small;
    color: blueviolet;
    padding-right: 30px;
    line-height: 20px;
}
.navbar a {
    text-align:right;
    margin-left: 400px;
    text-decoration: none;
    color: blueviolet;
}
.header {
    margin-left: 20px;
    font-family: sans-serif;
    font-size: x-small;
    background-color:crimson;
    font-weight:bold
}

.header img {
    vertical-align:middle    
}
.header a {
    margin-right: 50px;
    text-decoration: none;
    color: black;
    line-height: 100px;
}
button {
    background-color: black;
    color: white;
    height: 50px;
    width: 250px;
    font-size: smaller;
}
.btn:active{
    background-color: blue;
}

.pic {
    text-align: left;
    margin-left: 70px;
    max-width: 800px;
    float: right;
}

h1 {
    font-family: signika-regular;
     text-shadow: 2px 2px 6px blue;
     font-style: oblique;
     font-weight: 800;
}

h5 {
   line-height: 4;
   color: blueviolet;
   padding-top: 10px;
   padding-bottom: o;
   text-transform:uppercase;
   font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style:normal
 
}
p {
    padding: 10px;
    text-indent: 30px;
    font-family: "Playwrite NZ Basic Guides", cursive;
    font-weight: 400;
    font-style: normal;
}
p::first-letter{
    font-weight: bold
    font-size: 2em;
}
.main {
    padding-top: o;
    padding-left: 100px;
    padding-right: 100px;
}
