@font-face {
    font-family: roboto;
    src: url(./asset/Roboto-VariableFont_wdth\,wght.ttf);
}
* {
margin: 0%;
padding: 0%;
font-family: "roboto";
background-color:rgb(207, 81, 148);
}
header {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    color: antiquewhite;
    text-align: center;
    margin-top: 50px;
}
.main{
    display: flex;
}
.profile1 {
    border: white;
    background-color: antiquewhite;
    height: 350px;
    width: 350px;
    margin: 50px;
    border-radius: 5px;
}
.img1{
    width: 100px;
    height: 100px;
    margin: 30px auto 15px;
    border-radius: 50%;
    border: 3px solid rgb(207, 81, 148);
    padding: 5px;
    transition: all 2s ease-in 0;
}
.img1 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.img1:hover {
    width: 120px;
    height: 120px;
    border-radius: 30%;
    border-color: #8e44ad;
}
h1{
    text-align: center;
    text-transform: capitalize;
    color: rgb(207, 81, 148);
    background-color: antiquewhite;
}
p {
    margin: 20px;
    text-align: justify;
    background-color: antiquewhite;
    overflow-y: auto;
    height: 80px;
}
.buttons{
    background-color: antiquewhite;
    border-color:  rgb(207, 81, 148);
    border: 5 solid  rgb(207, 81, 148)
    text-align: center;
}
.Read-More{
    border-radius: 5px;
    background-color: antiquewhite;
    color: rgb(207, 81, 148);
    border-color: #8e44ad;
    padding: 10px 20px;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 30px;
    box-shadow: 0 5px 0 #8e44ad;
}
.Read-More:active{
    background-color:#8e44ad;
}
.Subscribe{
    border-radius: 5px;
    color: antiquewhite;
    border-color: #8e44ad;
    padding: 10px 20px;
    font-weight: bold;
    box-shadow: 0 5px 0 #8e44ad;
    margin-right: 60px;
    margin-bottom: 30px;
}
.Subscribe:active{
    background-color:#8e44ad;
}
footer {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    color: antiquewhite;
    text-align: center;
    padding-top: 10px;
}