@font-face {
    font-family: roboto;
    src: url(./asset/Roboto-VariableFont_wdth\,wght.ttf);
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "roboto", sans-serif;
}
.main{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
}
.links {
    width: 25%;
    height: 630px;
    background-color:#8FADC5;
    position: fixed;
    color: antiquewhite;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
.details {
    margin: 30px;
    width: 75%;
    height: auto;
    margin-left: 30%;
    margin-right: 100px;
}
.image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: lavender;
    margin: 30px auto;
    background-image: url(./asset/yourphoto.jpg.jpeg);
    background-size: cover;
    background-position: center;
    transition: all 2s ease-in 0s;
}
.image:hover {
    width: 180px;
    height: 180px;
    border: 5px dotted navy;
}
.headings {
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    transition: all 1s ease-in 0s;
}
.headings:hover {
    margin-left: 100px;
    font-size: bold;
}
h1 {
    font-size: 60px;
   color: rgba(0, 0, 0, 0.726);
   text-transform: uppercase;
}
h1 span{
    color: #8FADC5;
}
.address {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.726);
    font-weight: lighter;
    font-size: medium;
}
.rightside {
    color: rgba(0, 0, 0, 0.726);
    font-weight: lighter;
    font-size: medium;
    text-decoration: none;
}
.leftside {
    color: antiquewhite;
}
a {
    text-decoration: none;
}

p {
    margin-top: 40px;
    font-size: 20px;
}
ul {
    list-style-type: none;
}
.socialicon{
    display: flex;
    font-size: 30px;
    gap: 30px;
}
i:hover {
    color: #8FADC5;
}
i {
    margin-top: 30px;
}
#about {
    margin-top: 160px;
    margin-bottom: 160px;
}
h4 {
    display: inline-block;
}
.years {
        float: right;
        color: #8FADC5;
        font-weight: lighter;
        font-size: medium;
}
.link-headings {
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size:xx-large;
    color: rgba(0, 0, 0, 0.726)
}
h5 {
    margin-top: 5px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.726);
    font-size: medium;
}
h4{
    color: rgba(0, 0, 0, 0.726);
    font-size: x-large;
    text-transform: uppercase;
}
.fluent--checkmark-24-regular {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4.53 12.97a.75.75 0 0 0-1.06 1.06l4.5 4.5a.75.75 0 0 0 1.06 0l11-11a.75.75 0 0 0-1.06-1.06L8.5 16.94z'/%3E%3C/svg%3E");
}
#experience {
    margin-top: 80px;
    margin-bottom: 80px;
}
#education{
    margin-top: 150px;
    margin-bottom: 150px;    
}
.uni{
    margin-top: 30px;
}
.skill-1{
    display: block;
    margin-top: 30px;
}
#skills {
    margin-top: 170px;
    margin-bottom: 170px;  
}
#interest {
    margin-top: 230px;
    margin-bottom: 230px; 
}
.material-symbols-light--trophy {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%238FADC5' d='M8.385 20v-1H11.5v-3.754q-1.321-.236-2.312-1.105T7.823 11.99q-1.586-.187-2.705-1.301T4 8V7q0-.402.299-.701T5 6h2.654V4h8.692v2H19q.402 0 .701.299T20 7v1q0 1.573-1.118 2.688t-2.705 1.3q-.373 1.285-1.364 2.153T12.5 15.246V19h3.115v1zm-.731-9.084V7H5v1q0 1.142.762 1.963t1.892.953m8.692 0q1.131-.133 1.893-.954T19 8V7h-2.654z'/%3E%3C/svg%3E");
}
#awards{
    margin-top: 170px;
    margin-bottom: 170px; 
}
